conso de paris

In [2]:
import pandas as pd
url_paris = "https://odre.opendatasoft.com/api/explore/v2.1/catalog/datasets/eco2mix-metropoles-tr/exports/csv?lang=fr&refine=libelle_metropole%3A%22M%C3%A9tropole%20du%20Grand%20Paris%22&facet=facet(name%3D%22libelle_metropole%22%2C%20disjunctive%3Dtrue)&timezone=Europe%2FParis&use_labels=true&delimiter=%3B"
df_paris = pd.read_csv(url_paris, sep=';').sort_values(by=['Date', 'Heures'])
df_paris

,Code métropole,Métropole,Nature,Date,Heures,Date - Heure,Consommation (MW),Production,Echanges physiques
190533,200054781,Métropole du Grand Paris,Données temps réel,2020-01-01,01:00,2020-01-01T01:00:00+01:00,5090.0,NaN,NaN
5272,200054781,Métropole du Grand Paris,Données temps réel,2020-01-01,01:15,2020-01-01T01:15:00+01:00,5018.0,NaN,NaN
74592,200054781,Métropole du Grand Paris,Données temps réel,2020-01-01,01:30,2020-01-01T01:30:00+01:00,4975.0,NaN,NaN
74593,200054781,Métropole du Grand Paris,Données temps réel,2020-01-01,01:45,2020-01-01T01:45:00+01:00,4933.0,NaN,NaN
5273,200054781,Métropole du Grand Paris,Données temps réel,2020-01-01,02:00,2020-01-01T02:00:00+01:00,4893.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
125996,200054781,Métropole du Grand Paris,Données temps réel,2025-12-22,22:45,2025-12-22T22:45:00+01:00,NaN,NaN,NaN
99435,200054781,Métropole du Grand Paris,Données temps réel,2025-12-22,23:00,2025-12-22T23:00:00+01:00,NaN,NaN,NaN
135140,200054781,Métropole du Grand Paris,Données temps réel,2025-12-22,23:15,2025-12-22T23:15:00+01:00,NaN,NaN,NaN
125997,200054781,Métropole du Grand Paris,Données temps réel,2025-12-22,23:30,2025-12-22T23:30:00+01:00,NaN,NaN,NaN
125998,200054781,Métropole du Grand Paris,Données temps réel,2025-12-22,23:45,2025-12-22T23:45:00+01:00,NaN,NaN,NaN